.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
.tabcontent {
  display: none;
}

.resourcesArea table{
		border-collapse: collapse;
		border: 1px solid black;
}

.resourcesArea td{
	border: 1px solid black;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.card {
	width: 150px;
	height: 150px;
	border: 2px solid; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}
.orgCard {
	width: 100px;
	height: 75px;
	border: 1px solid;
	border-radius: 3px;
	text-align: center;
	position: relative;
}
.card img{
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
.food{
	background-color: #dddd00;
	background: #dddd00;
}

.wood{
	background-color: #52C862;
}

.science{
	background-color: #80E5FF;
}

.stone{
	background-color: #CCCCCC;
}

.copper{
	background-color: #9F543E;
	color: #FFFFFF;
}

.invisible{
	visibility: hidden;
}

.organization{
	background-color: #5D5DFF
}

button{
	background-color: #EEEEFF;
	height: 50px;
	width: 350px;
	border-radius: 5px;
	display: block;
}