.resourcesArea table{
		border-collapse: collapse;
		border: 1px solid black;
}

.resourcesArea td{
	border: 1px solid black;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.card {
	width: 150px;
	height: 150px;
	border: 2px solid; 
	border-radius: 5px;
	text-align: center;
	position: relative;
}

.card img{
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

.food{
	background-color: #dddd00;
	background: #dddd00;
}

.wood{
	background-color: #52C862;
}

.science{
	background-color: #80E5FF;
}

.stone{
	background-color: #CCCCCC;
}

.organization{
	background-color: #5D5DFF
}

button{
	background-color: #EEEEFF;
	height: 50px;
	width: 350px;
	border-radius: 5px;
	display: block;
}